---
layout: default
title: 我的作品
---

<h3>
  微动手势 <a href="https://coolapk.com/apk/me.i38.gesture"><img width="24px" src="/public/images/coolapk.png"/></a> 
  <a href="https://play.google.com/store/apps/details?id=me.i38.gesture"><img width="24px" src="/public/images/play.png"/></a>
</h3>
<p>创新安卓导航，体感手势操作，<a href="https://www.bilibili.com/video/BV1zx411o7fA/">演示视频</a>。</p>

<h3>
  碎片记忆 <a href="https://coolapk.com/apk/me.i38.anki"><img width="24px" src="/public/images/coolapk.png"/></a>
</h3>
<p>悬浮窗背单词，支持anki词库和安卓手表，手表版在<a href="https://coolapk.com/apk/me.i38.anki.watch">这里</a>。</p>

<h3>
  隐秘参数 <a href="https://coolapk.com/apk/com.x1y9.probe"><img width="24px" src="/public/images/coolapk.png"/></a>
</h3>
<p>探寻设备参数，测试性能跑分。</p>

<h3>
  电池守护 <a href="https://coolapk.com/apk/com.x1y9.battery"><img width="24px" src="/public/images/coolapk.png"/></a> 
  <a href="https://play.google.com/store/apps/details?id=com.x1y9.battery"><img width="24px" src="/public/images/play.png"/></a>
</h3>
<p>电量语音告警，延长电池寿命。</p>

<h3>
  脸谱 <a href="https://coolapk.com/apk/com.x1y9.beautify"><img width="24px" src="/public/images/coolapk.png"/></a>
</h3>
<p>深度安卓自定义，玩转通知栏、桌面快捷方式。</p>

<h3>
  天天 <a href="https://coolapk.com/apk/me.i38.dayday"><img width="24px" src="/public/images/coolapk.png"/></a>
</h3>
<p>培养好的习惯，每日打卡。</p>

{% for node in site.pages %}
  {% if node.layout == "product" %}
    
      <h3><a href="{{ node.url }}" title="{{ node.title }}">{{ node.title }}</a></h3> 
      <p>{{ node.tagline }}</p>
    
  {% endif %}
{% endfor %}

<hr/>
<p>x1y9 AT hotmail.com</p>

