---
layout: default
title: Projects
---


{% for node in site.pages %}
  {% if node.layout == "product" %}
    
      <h3><a href="{{ node.url }}" title="{{ node.title }}">{{ node.title }}</a></h3> 
      <p>{{ node.tagline }}</p>
    
  {% endif %}
{% endfor %}

<h3>
  <a href="https://www.coolapk.com/apk/me.i38.dayday">dayday</a>
  <a href="https://www.coolapk.com/apk/me.i38.dayday"><img width="24px" src="/public/images/android.png"/></a>
</h3>
<p>An habit tracker app</p>

<h3><a href="https://github.com/i38/justmd">justmd</a></h3>
<p>A open source Markdown editor for Windows/Linux/OSx</p>

<h3><a href="https://github.com/i38/kaixin">kaixin</a></h3>
<p>A open source full stack devlopment framework</p>

<h3>
  <a href="https://ci.aa9.win">tingci</a>
  <a href="https://www.coolapk.com/apk/me.i38.tingci"><img width="24px" src="/public/images/android.png"/></a>
</h3>
<p>An English words learning tool using web speech</p>


