<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <a href="/">{{ site.description }}</a>
  </div>

  <nav class="sidebar-nav">
    {% for node in site.pages  %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
    {% endfor %}
  </nav>

  <div class="sidebar-item">
    <small>
      &copy; {{ site.time | date: '%Y' }}
    </small>
  </div>
</div>
